body{
    background-color: #F4D04E;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    align-items: center;
    justify-content: center;

}
main{
    background-color: white;
    max-width: 350px;
    padding: 24px;
    align-items: start;
    border-radius: 10px;
    box-shadow: 10px 10px 1px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    border: solid 0.5px black;
}
main:hover{
    box-shadow: 15px 15px 3px;
}
main img{
    width: 100%;
    border-radius: 4px;
}
.textarea{
    font-family: figtree;
    display: flex;
    flex-direction: column;
    gap: 2px;

}
h1:hover{
    color: #F4D04E;
    cursor: pointer;
}
#Button{
    background-color: #F4D04E;
    max-width: 82px;
    border-radius: 4px;
    padding: 4px 12px;
    font-weight: bolder;   
}
h1{
    font-size: 24px;
    line-height: 150%;
    margin: 0px;
}
.maintext{
    font-size: 16px;
    font-weight: 300;
    margin: 0px;
}
.profile img{
    width: 50px;
    height: 50px;
}
.text{
    font-weight: 10px;
}
.profile{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
span{
    font-weight: bold;
}

